[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "/home/henrikschlichter/Code/ngen/external/stb"]
	path = /home/henrikschlichter/Code/ngen/external/stb
	url = https://github.com/nothings/stb.git
[submodule "/home/henrikschlichter/Code/ngen/external/cgltf"]
	path = /home/henrikschlichter/Code/ngen/external/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
